body{
	background: #171717
}
.yello{
	color: #e1b902;
}
.pink{
	color:#ba2b9d;
}
.blue{
	color:#01bdeb;
}
.app_logo{
	display: block;
	margin: 0px auto;
}
.top_nav_search_input, .top_nav_search_btn{
	height: 36px !important;
}
.top_nav_search_btn{
	line-height: 0px !important;
}
.dashboard_sence{
	border: 1px solid red;
}
.d_log,.dash_content_pic{
	display: block;
	margin: 0px auto;
}
.wrapper{
	padding: 16px;
}
.dash_wrapper{
	margin-top: 50px;
}
.dash_content_container{
	margin-top: 50px;
}
.dash_content{
	min-height: 256px;
	border: 2px solid #3b3b3b;
	padding: 40px 0;
	text-decoration: none;
}
.dash_content:hover{
	border: 2px solid #e1b902;
}
.dash_content_pink:hover{
	border: 2px solid #ba2b9d;
	text-decoration: none !important;
}
.dash_content_blue:hover{
	border: 2px solid #01bdeb;
	text-decoration: none !important;
}
.dash_content_pic{
	padding: 20px 0;
}
.dash_content_label{
	display: block;
	font-size: 1.5em;
}
.dash_content_label:hover{
	text-decoration: none;
}
.dash_content_text{
	padding: 17px 5px;
}
.dash_content_sence{
	width: 100%;	
}
.dash_sence{
	margin-top: 10px;
}
.main_contents_container{
	border-top:1px solid #3b3b3b;
	padding: 20px 0;
}
.main_contents_container .content_area{
	border: 1px solid #3b3b3b;
	padding: 16px;
}
